@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600');

$gap: 10px;
$navbar-app-height: 5vh;
$navbar-board-height: 6vh;
$board-content-height: 88vh;


$board-bg-color: #0079bf;
$column-header-height: 46px;
$column-footer-height: 46px;
$column-border-radius: 5px;
$card-border-radius: 4px;

$list-bg-color: #ebecf0;
$common-element-bg: rgba(255, 255 , 255 , 0.24);